@page "/cart"

@inject ICartService CartService
@inject ILocalStorageService LocalStorageService
Welcome to the shopping cart.
@if (CartVM == null)
{
    <p>Loading...</p> }
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>SubTotal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CartVM.Items)
            {
                <tr @key="item">
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <input type="number" class="form-control" style="width:100px;"
                               value=@item.Quantity
                               @onchange="@(e=>Change(e,item))" />
                    </td>
                    <td>
                        @String.Format("{0:0.##}", item.Price * item.Quantity)
                    </td>
                    <td>
                        <a style="color:red;cursor:pointer" @onclick="@(() => Remove(item))">
                            Remove
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5">
                    <h5 style="float:right">Total :@String.Format("{0:0.##}", CartVM.Items.Sum(d => d.Price * d.Quantity))</h5>
                </td>
            </tr>
        </tbody>
    </table>
    <AddItem @ref="AddItem"
                CloseEventCallback="@OnDialogClose"></AddItem>

    <button class="btn btn-primary edit-btn" @onclick="ShowAddNew">Add</button>
}


@code {

    public Cart CartVM { set; get; }

    protected override async Task OnInitializedAsync()
    {
        CartVM = await LocalStorageService.GetItemAsync<Cart>("cart");
        if (CartVM == null)
        {
            CartVM = CartService.Cart;
        }
    }
    private async Task SaveCardAsync()
    {
        await LocalStorageService.SetItemAsync<Cart>("cart", CartVM);

        CartService.RaiseCartChanged();
    }
    async Task Change(ChangeEventArgs e, Item item)
    {
        var val = e.Value.ToString();
        var intVal = int.Parse(val);
        CartVM.Items.Find(d => d.Name == item.Name).Quantity = (intVal>0?intVal:1);

        await SaveCardAsync();
    }
    async Task Remove(Item item)
    {
        CartVM.Items.Remove(item);

        await SaveCardAsync();
    }

    public AddItem AddItem { get; set; }
    protected async void OnDialogClose(Item item)
    {
        var check = CartVM.Items.FirstOrDefault(d => d.Name == item.Name.Trim());
        if (check!=null)
        {
            check.Quantity += item.Quantity;
        }
        else
        {
            CartVM.Items.Add(item);
        }

        await SaveCardAsync();
    }

    protected async Task ShowAddNew()
    {
        await AddItem.Show();
    }
}
